{% extends "__base__.html" %}

{% block title %}
    {{ pdf.title }} - {{ site.title }}
{% endblock %}

{% block script %}
<style>
    .pdf-hidden {
        display: none !important;
    }

    .pdf-only {
        display: revert !important;
    }

    .pdf-page {
        break-after: page;
    }

    .pdf-toc {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #gsi-content pre.hljs {
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
        white-space: pre-wrap !important;
    }

    pre.ascii {
        break-inside: avoid-page;
    }
</style>
<script>
documentReady(function() {
    const pdfUri = '{{ __uri__ }}';
    const updateSrc = function(relativeUri, pdfPage, selector, attr) {
        pdfPage.querySelectorAll(selector).forEach(function(el) {
            let src = el.getAttribute(attr);
            if (src && !src.startsWith('http://') && !src.startsWith('https://') && !src.startsWith('data:') && !src.startsWith('/')) {
                src = relativeUri + src;
                el.setAttribute(attr, src);
            }
        });
    };

    document.querySelectorAll('img').forEach(function(img) {
        img.setAttribute('loading', 'eager');
    });

    document.querySelectorAll('div.pdf-page').forEach(function(pdfPage) {
        let baseUri = pdfPage.getAttribute('data-base-uri');
        if (baseUri && baseUri.startsWith(pdfUri)) {
            // pdfUri = /books/hello/
            // baseUri = /books/hello/chapter1/
            // relativeUri = chapter1/
            let relativeUri = baseUri.substring(pdfUri.length);
            updateSrc(relativeUri, pdfPage, 'img', 'src');
            updateSrc(relativeUri, pdfPage, 'image', 'href');
        }
    });
});
</script>
{% endblock %}

{% block main %}
<div id="pdf-content">
    <div id="gsi-content">
        <div id="pdf-toc" class="pdf-page">
            <a name="pdf-toc"></a>
            <h1 class="pdf-page-title">Index</h1>
        {% for t in pdf.toc %}
            <div class="pdf-toc pdf-toc-{{ t.level }}" style="margin-left:{{ t.level-1 }}rem;">{{ t.marker }} <a href="#{{ t.id }}">{{ t.title }}</a></div>
        {% endfor %}
        </div>
        {{ pdf.content | safe }}
    </div>
</div>
{% endblock %}
